<%= form_for(user, :url => update_password_path, :method => :put) do |f| %>
  <div class="form_input">
    <label for="password">Old password</label><br/>
    <%= password_field_tag :old_password %>
  </div><br />

  <div class="form_input">
    <%= f.label :password, "New password" %><br />
    <%= f.text_field :password %>
  </div><br/>

  <div class="form_input">
    <%= f.label :new_password_confirmation, "Confirm new password" %><br />
    <%= f.text_field :password_confirmation %>
  </div><br />

  <div class="form_input">
    <%= f.submit "Update password" %>
  </div>
<% end %>
<% if flash[:errors] %>
  <br/>
  <div id="error_explanation">
    <p><%= pluralize(flash[:errors].count, "password error") %>:</p>
    <ul>
      <% flash[:errors].each do |msg| %>
          <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
