<% if flash[:errors] %>
  <div id="error_explanation">
    <h5><%= pluralize(flash[:errors].count, "error") %>:</h5>
    <ul>
      <% flash[:errors].full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for(user, :url => update_password_path, :method => :put) do |f| %>
  <div class="field">
    <label for="password">Old password</label><br/>
    <%= password_field_tag :old_password %>
  </div><br />

  <div class="field">
    <%= f.label :password, "New password" %><br />
    <%= f.text_field :password %>
  </div><br/>

  <div class="field">
    <%= f.label :new_password_confirmation, "Confirm new password" %><br />
    <%= f.text_field :password_confirmation %>
  </div><br />

  <div class="action_s">
    <%= f.submit "Update password" %>
  </div>
<% end %>
